.form {
    width: 320px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

.form div{
    margin-bottom: 20px;
}

.btnFormResend{
    background-color: transparent;
    border: none;
    color: #3498db;
    margin-top: 100px;
    margin-left: auto;
    display: block;
    cursor: pointer;
}
.blockResend{
    display: flex;
    flex-direction: column;
    
}