.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    max-width: 700px;
    /* height: 85px; */
    margin-left: auto;
    margin-right: auto;
}

.item_contacts{
    display: flex;
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
}
.item_contacts a{
    /* text-decoration: none; */
    color:#3498db;
    margin: 5px;
}
.item_communication a{
    display: flex;
    align-items: center;
}
.item_contacts p{
margin-top: 5px;
margin-bottom: 7px;
/* font-size: 18px; */
}


 .list{
    padding:  0px;
}

.list li+li{
    margin-top: 5px;
}
.list li {
    border: 1px solid rgba(128, 255, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.05);
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    
}

.list li:hover {
    border: 1px solid #fcbd00;
    transform: scale(1.01);
    color: #000;
}

.icon{
    margin-right: 10px;
}
